.button {
  display: inline-block;
  width: max-content;
  max-width: 100%;
  padding: 1.5rem 5rem;
  font-family: var(--font-heading);
  font-size: 1.8rem;
  line-height: 120%;
  border-radius: 3px;
  border: 1px solid var(--brown);
  color: var(--brown);
  transition: all 200ms ease-out;
  cursor: pointer;
}

.button:hover {
  color: var(--white);
  background-color: var(--brown);
}

.buttonFull {
  color: var(--white);
  background-color: var(--brown);
}

.buttonFull:hover {
  color: var(--brown);
  background-color: transparent;
}
